/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */

/* Regole Generali */
ul {
    list-style: none;
}

i {
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
}

.text-none {
    text-decoration: none !important;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.main-logo img {
    width: 25%;
}

.add-todo-button {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.add-todo-button input {
    display: inline-block;
    width: 30%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.add-todo-button button {
    display: inline-block;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.add-todo-button button:hover {
    scale: 1.1;
}

/* Main */
main {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.todo {
    width: 70%;
    padding: 40px;
    background-color: grey;
    border-radius: 20px;
}

.todo ul li {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin: 5px 0;
    background-color: antiquewhite;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.43);
    display: flex;
    justify-content: space-between;
}