<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Fonts-->

        <!--Fontawesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!--Style CSS-->
        <link rel="stylesheet" href="css/style.css">

        <title>Vue ToDoList</title>
    </head>

    <body>

        <div id="app">
            
            <div class="main-logo">

                <img src="img/logo.png" alt="">

            </div>

            <div class="add-todo-button">

                <input type="text" placeholder="Nuova Task..." v-model="newTodo.text">

                <button @click="addTodo()">Aggiungi</button>

                {{ newTodo.text }}

            </div>

            <main> <!--Inizio Main-->    

                <div class="todo">

                    <ul>

                        <li v-for="(item, index) in todoList" :class="{ 'line-through': todoList[index].done == true }">
                            
                            {{ todoList[index].text }}

                            <i class="fa-solid fa-xmark text-none" @click="removeTodo(index)"></i>
                        
                        </li>

                    </ul>

                </div>
                
            </main> <!--Fine Main-->
            
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--Vue CDN-->

        <script text="text/javascript" src="js/scripts.js"></script> <!--My Script-->

    </body>
    
</html>